
.DS_Store
/Servers/
/target/
/.apt_generated/
/.classpath
.factorypath
.classpath
*.pb
.sonarlint/modules/BiMr/issues/b/d/bd93119b7be5383fa349a44d47aa8f3478afa451
.metadata/version.ini
.metadata/WebContent/WEB-INF/faces-config.pageflow
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
*.prefs
*.tis
*.fdx
*.fnm
*.frq
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
*.version
*.index
*.resources
*.prx
*.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_2
*.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.container
*.setup
*.target
*.ser
*.properties
*.mark
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.rse.core/.log
*.lock
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
*.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
*.dat
*.zip
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.nrm
*.tii
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.compare/dialog_settings.xml
.metadata/.log
.metadata/.bak_0.log
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
*.history
*.cfs
*.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/670cfa608339c58cda42c590f978b3ce/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_8
.metadata/.plugins/org.eclipse.team.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_9
.metadata/.plugins/org.eclipse.m2e.core/nexus/7e8dec381fb5b613e3d801a8ef11823c/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_4
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.team.ui/syncParticipants.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/BiMr/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/BiMr/WEB-INF/faces-config.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.common.project.facet.core/prefs.xml
*.prefs
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.component
RemoteSystemsTempFiles/.project
*.prefs
.settings/org.eclipse.wst.validation.prefs
RemoteSystemsTempFiles/.project
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
WebContent/map.xhtml
src/com/gsys/bimr/pf/MapModel.java
*.prefs
.settings/org.eclipse.m2e.core.prefs
/.settings/
