.DS_Store
/Servers/
/target/
/.apt_generated/
/.classpath
.factorypath
.classpath
.sonarlint/
*.pb
*.tis
*.fdx
*.fnm
*.frq
*.version
*.index
*.resources
*.prx
*.gen
*.fdt
*.container
*.setup
*.target
*.ser
*.properties
*.mark
*.lock
*.dat
*.zip
*.nrm
*.tii
*.prefs
*.iml
RemoteSystemsTempFiles/.project
/.settings/
/bin/
docs/
.idea/
.metadata/
.idea/codeStyles/codeStyleConfig.xml
